* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0F172A;
  color: #F8FAFC;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}